TP_3_NiFi/TP_3_Nifi_FTP_CSV/Change_val_FTP_to_MongoDB.xml
<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<template encoding-version="1.2">
    <description>Replace val to VALUE into the FTP csv file into MongoDB Template
with the methode with UpdateAttribute</description>
    <groupId>ed2808a0-0175-1000-c579-bb620cd1c019</groupId>
    <name>Change_val_FTP_to_MongoDB</name>
    <snippet>
        <connections>
            <id>4cd413cf-104f-382e-0000-000000000000</id>
            <parentGroupId>7d4cd5bd-3e79-3b67-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>7d4cd5bd-3e79-3b67-0000-000000000000</groupId>
                <id>5204bb93-0e54-355f-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>success</selectedRelationships>
            <source>
                <groupId>7d4cd5bd-3e79-3b67-0000-000000000000</groupId>
                <id>486c7832-1051-3a89-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>590db622-e16e-323d-0000-000000000000</id>
            <parentGroupId>7d4cd5bd-3e79-3b67-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <bends>
                <x>289.5602342322736</x>
                <y>534.7318814185343</y>
            </bends>
            <bends>
                <x>242.56023423227361</x>
                <y>579.7318814185343</y>
            </bends>
            <destination>
                <groupId>7d4cd5bd-3e79-3b67-0000-000000000000</groupId>
                <id>110c4032-bb2d-3061-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>failure</selectedRelationships>
            <source>
                <groupId>7d4cd5bd-3e79-3b67-0000-000000000000</groupId>
                <id>110c4032-bb2d-3061-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>83e12288-208f-3677-0000-000000000000</id>
            <parentGroupId>7d4cd5bd-3e79-3b67-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>7d4cd5bd-3e79-3b67-0000-000000000000</groupId>
                <id>49152a75-dd66-33aa-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>success</selectedRelationships>
            <source>
                <groupId>7d4cd5bd-3e79-3b67-0000-000000000000</groupId>
                <id>0ddc6990-a4bc-325c-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>85588b8a-d86e-3725-0000-000000000000</id>
            <parentGroupId>7d4cd5bd-3e79-3b67-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>7d4cd5bd-3e79-3b67-0000-000000000000</groupId>
                <id>0ddc6990-a4bc-325c-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>success</selectedRelationships>
            <source>
                <groupId>7d4cd5bd-3e79-3b67-0000-000000000000</groupId>
                <id>5204bb93-0e54-355f-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>a923eb53-2ad9-3a2d-0000-000000000000</id>
            <parentGroupId>7d4cd5bd-3e79-3b67-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>7d4cd5bd-3e79-3b67-0000-000000000000</groupId>
                <id>110c4032-bb2d-3061-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>splits</selectedRelationships>
            <source>
                <groupId>7d4cd5bd-3e79-3b67-0000-000000000000</groupId>
                <id>49152a75-dd66-33aa-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>e216d39c-2277-33a0-0000-000000000000</id>
            <parentGroupId>7d4cd5bd-3e79-3b67-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <bends>
                <x>931.2945572226054</x>
                <y>172.0</y>
            </bends>
            <bends>
                <x>910.2945572226054</x>
                <y>136.0</y>
            </bends>
            <destination>
                <groupId>7d4cd5bd-3e79-3b67-0000-000000000000</groupId>
                <id>0ddc6990-a4bc-325c-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>failure</selectedRelationships>
            <source>
                <groupId>7d4cd5bd-3e79-3b67-0000-000000000000</groupId>
                <id>0ddc6990-a4bc-325c-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>fc389603-aa76-3ec3-0000-000000000000</id>
            <parentGroupId>7d4cd5bd-3e79-3b67-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <bends>
                <x>805.2914733886719</x>
                <y>579.665061712265</y>
            </bends>
            <bends>
                <x>847.2914733886719</x>
                <y>545.665061712265</y>
            </bends>
            <destination>
                <groupId>7d4cd5bd-3e79-3b67-0000-000000000000</groupId>
                <id>49152a75-dd66-33aa-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>0</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>failure</selectedRelationships>
            <source>
                <groupId>7d4cd5bd-3e79-3b67-0000-000000000000</groupId>
                <id>49152a75-dd66-33aa-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <controllerServices>
            <id>a7b538da-0344-36b9-0000-000000000000</id>
            <parentGroupId>7d4cd5bd-3e79-3b67-0000-000000000000</parentGroupId>
            <bundle>
                <artifact>nifi-record-serialization-services-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.9.2</version>
            </bundle>
            <comments></comments>
            <descriptors>
                <entry>
                    <key>Schema Write Strategy</key>
                    <value>
                        <name>Schema Write Strategy</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-cache</key>
                    <value>
                        <identifiesControllerService>org.apache.nifi.serialization.RecordSchemaCacheService</identifiesControllerService>
                        <name>schema-cache</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-access-strategy</key>
                    <value>
                        <name>schema-access-strategy</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-registry</key>
                    <value>
                        <identifiesControllerService>org.apache.nifi.schemaregistry.services.SchemaRegistry</identifiesControllerService>
                        <name>schema-registry</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-name</key>
                    <value>
                        <name>schema-name</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-version</key>
                    <value>
                        <name>schema-version</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-branch</key>
                    <value>
                        <name>schema-branch</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-text</key>
                    <value>
                        <name>schema-text</name>
                    </value>
                </entry>
                <entry>
                    <key>Date Format</key>
                    <value>
                        <name>Date Format</name>
                    </value>
                </entry>
                <entry>
                    <key>Time Format</key>
                    <value>
                        <name>Time Format</name>
                    </value>
                </entry>
                <entry>
                    <key>Timestamp Format</key>
                    <value>
                        <name>Timestamp Format</name>
                    </value>
                </entry>
                <entry>
                    <key>Pretty Print JSON</key>
                    <value>
                        <name>Pretty Print JSON</name>
                    </value>
                </entry>
                <entry>
                    <key>suppress-nulls</key>
                    <value>
                        <name>suppress-nulls</name>
                    </value>
                </entry>
                <entry>
                    <key>output-grouping</key>
                    <value>
                        <name>output-grouping</name>
                    </value>
                </entry>
                <entry>
                    <key>compression-format</key>
                    <value>
                        <name>compression-format</name>
                    </value>
                </entry>
                <entry>
                    <key>compression-level</key>
                    <value>
                        <name>compression-level</name>
                    </value>
                </entry>
            </descriptors>
            <name>JsonRecordSetWriter_Data_Csv</name>
            <persistsState>false</persistsState>
            <properties>
                <entry>
                    <key>Schema Write Strategy</key>
                </entry>
                <entry>
                    <key>schema-cache</key>
                </entry>
                <entry>
                    <key>schema-access-strategy</key>
                </entry>
                <entry>
                    <key>schema-registry</key>
                </entry>
                <entry>
                    <key>schema-name</key>
                </entry>
                <entry>
                    <key>schema-version</key>
                </entry>
                <entry>
                    <key>schema-branch</key>
                </entry>
                <entry>
                    <key>schema-text</key>
                </entry>
                <entry>
                    <key>Date Format</key>
                </entry>
                <entry>
                    <key>Time Format</key>
                </entry>
                <entry>
                    <key>Timestamp Format</key>
                </entry>
                <entry>
                    <key>Pretty Print JSON</key>
                </entry>
                <entry>
                    <key>suppress-nulls</key>
                </entry>
                <entry>
                    <key>output-grouping</key>
                    <value>output-oneline</value>
                </entry>
                <entry>
                    <key>compression-format</key>
                </entry>
                <entry>
                    <key>compression-level</key>
                </entry>
            </properties>
            <state>ENABLED</state>
            <type>org.apache.nifi.json.JsonRecordSetWriter</type>
        </controllerServices>
        <controllerServices>
            <id>fbe3bc40-1630-3503-0000-000000000000</id>
            <parentGroupId>7d4cd5bd-3e79-3b67-0000-000000000000</parentGroupId>
            <bundle>
                <artifact>nifi-record-serialization-services-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.9.2</version>
            </bundle>
            <comments></comments>
            <descriptors>
                <entry>
                    <key>schema-access-strategy</key>
                    <value>
                        <name>schema-access-strategy</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-registry</key>
                    <value>
                        <identifiesControllerService>org.apache.nifi.schemaregistry.services.SchemaRegistry</identifiesControllerService>
                        <name>schema-registry</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-name</key>
                    <value>
                        <name>schema-name</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-version</key>
                    <value>
                        <name>schema-version</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-branch</key>
                    <value>
                        <name>schema-branch</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-text</key>
                    <value>
                        <name>schema-text</name>
                    </value>
                </entry>
                <entry>
                    <key>csv-reader-csv-parser</key>
                    <value>
                        <name>csv-reader-csv-parser</name>
                    </value>
                </entry>
                <entry>
                    <key>Date Format</key>
                    <value>
                        <name>Date Format</name>
                    </value>
                </entry>
                <entry>
                    <key>Time Format</key>
                    <value>
                        <name>Time Format</name>
                    </value>
                </entry>
                <entry>
                    <key>Timestamp Format</key>
                    <value>
                        <name>Timestamp Format</name>
                    </value>
                </entry>
                <entry>
                    <key>CSV Format</key>
                    <value>
                        <name>CSV Format</name>
                    </value>
                </entry>
                <entry>
                    <key>Value Separator</key>
                    <value>
                        <name>Value Separator</name>
                    </value>
                </entry>
                <entry>
                    <key>Skip Header Line</key>
                    <value>
                        <name>Skip Header Line</name>
                    </value>
                </entry>
                <entry>
                    <key>ignore-csv-header</key>
                    <value>
                        <name>ignore-csv-header</name>
                    </value>
                </entry>
                <entry>
                    <key>Quote Character</key>
                    <value>
                        <name>Quote Character</name>
                    </value>
                </entry>
                <entry>
                    <key>Escape Character</key>
                    <value>
                        <name>Escape Character</name>
                    </value>
                </entry>
                <entry>
                    <key>Comment Marker</key>
                    <value>
                        <name>Comment Marker</name>
                    </value>
                </entry>
                <entry>
                    <key>Null String</key>
                    <value>
                        <name>Null String</name>
                    </value>
                </entry>
                <entry>
                    <key>Trim Fields</key>
                    <value>
                        <name>Trim Fields</name>
                    </value>
                </entry>
                <entry>
                    <key>csvutils-character-set</key>
                    <value>
                        <name>csvutils-character-set</name>
                    </value>
                </entry>
            </descriptors>
            <name>CSVReader_Data</name>
            <persistsState>false</persistsState>
            <properties>
                <entry>
                    <key>schema-access-strategy</key>
                </entry>
                <entry>
                    <key>schema-registry</key>
                </entry>
                <entry>
                    <key>schema-name</key>
                </entry>
                <entry>
                    <key>schema-version</key>
                </entry>
                <entry>
                    <key>schema-branch</key>
                </entry>
                <entry>
                    <key>schema-text</key>
                </entry>
                <entry>
                    <key>csv-reader-csv-parser</key>
                </entry>
                <entry>
                    <key>Date Format</key>
                </entry>
                <entry>
                    <key>Time Format</key>
                </entry>
                <entry>
                    <key>Timestamp Format</key>
                </entry>
                <entry>
                    <key>CSV Format</key>
                </entry>
                <entry>
                    <key>Value Separator</key>
                    <value>;</value>
                </entry>
                <entry>
                    <key>Skip Header Line</key>
                    <value>true</value>
                </entry>
                <entry>
                    <key>ignore-csv-header</key>
                </entry>
                <entry>
                    <key>Quote Character</key>
                </entry>
                <entry>
                    <key>Escape Character</key>
                </entry>
                <entry>
                    <key>Comment Marker</key>
                </entry>
                <entry>
                    <key>Null String</key>
                </entry>
                <entry>
                    <key>Trim Fields</key>
                </entry>
                <entry>
                    <key>csvutils-character-set</key>
                </entry>
            </properties>
            <state>ENABLED</state>
            <type>org.apache.nifi.csv.CSVReader</type>
        </controllerServices>
        <processors>
            <id>0ddc6990-a4bc-325c-0000-000000000000</id>
            <parentGroupId>7d4cd5bd-3e79-3b67-0000-000000000000</parentGroupId>
            <position>
                <x>666.2945572226054</x>
                <y>189.0</y>
            </position>
            <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.9.2</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>Regular Expression</key>
                        <value>
                            <name>Regular Expression</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Replacement Value</key>
                        <value>
                            <name>Replacement Value</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Character Set</key>
                        <value>
                            <name>Character Set</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Maximum Buffer Size</key>
                        <value>
                            <name>Maximum Buffer Size</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Replacement Strategy</key>
                        <value>
                            <name>Replacement Strategy</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Evaluation Mode</key>
                        <value>
                            <name>Evaluation Mode</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>Regular Expression</key>
                        <value>val</value>
                    </entry>
                    <entry>
                        <key>Replacement Value</key>
                        <value>${valmodi}</value>
                    </entry>
                    <entry>
                        <key>Character Set</key>
                        <value>UTF-8</value>
                    </entry>
                    <entry>
                        <key>Maximum Buffer Size</key>
                        <value>1 MB</value>
                    </entry>
                    <entry>
                        <key>Replacement Strategy</key>
                        <value>Literal Replace</value>
                    </entry>
                    <entry>
                        <key>Evaluation Mode</key>
                        <value>Entire text</value>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>ReplaceText</name>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>failure</name>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>org.apache.nifi.processors.standard.ReplaceText</type>
        </processors>
        <processors>
            <id>110c4032-bb2d-3061-0000-000000000000</id>
            <parentGroupId>7d4cd5bd-3e79-3b67-0000-000000000000</parentGroupId>
            <position>
                <x>43.56023423227339</x>
                <y>381.7318814185343</y>
            </position>
            <bundle>
                <artifact>nifi-mongodb-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.9.2</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>mongo-client-service</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.mongodb.MongoDBClientService</identifiesControllerService>
                            <name>mongo-client-service</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Mongo URI</key>
                        <value>
                            <name>Mongo URI</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Mongo Database Name</key>
                        <value>
                            <name>Mongo Database Name</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Mongo Collection Name</key>
                        <value>
                            <name>Mongo Collection Name</name>
                        </value>
                    </entry>
                    <entry>
                        <key>ssl-context-service</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
                            <name>ssl-context-service</name>
                        </value>
                    </entry>
                    <entry>
                        <key>ssl-client-auth</key>
                        <value>
                            <name>ssl-client-auth</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Mode</key>
                        <value>
                            <name>Mode</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Upsert</key>
                        <value>
                            <name>Upsert</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Update Query Key</key>
                        <value>
                            <name>Update Query Key</name>
                        </value>
                    </entry>
                    <entry>
                        <key>putmongo-update-query</key>
                        <value>
                            <name>putmongo-update-query</name>
                        </value>
                    </entry>
                    <entry>
                        <key>put-mongo-update-mode</key>
                        <value>
                            <name>put-mongo-update-mode</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Write Concern</key>
                        <value>
                            <name>Write Concern</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Character Set</key>
                        <value>
                            <name>Character Set</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>mongo-client-service</key>
                    </entry>
                    <entry>
                        <key>Mongo URI</key>
                        <value>mongodb://mongo:27017</value>
                    </entry>
                    <entry>
                        <key>Mongo Database Name</key>
                        <value>data_services</value>
                    </entry>
                    <entry>
                        <key>Mongo Collection Name</key>
                        <value>data_ftp</value>
                    </entry>
                    <entry>
                        <key>ssl-context-service</key>
                    </entry>
                    <entry>
                        <key>ssl-client-auth</key>
                        <value>REQUIRED</value>
                    </entry>
                    <entry>
                        <key>Mode</key>
                        <value>insert</value>
                    </entry>
                    <entry>
                        <key>Upsert</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>Update Query Key</key>
                    </entry>
                    <entry>
                        <key>putmongo-update-query</key>
                    </entry>
                    <entry>
                        <key>put-mongo-update-mode</key>
                        <value>doc</value>
                    </entry>
                    <entry>
                        <key>Write Concern</key>
                        <value>ACKNOWLEDGED</value>
                    </entry>
                    <entry>
                        <key>Character Set</key>
                        <value>UTF-8</value>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>PutMongo</name>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>failure</name>
            </relationships>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>success</name>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>org.apache.nifi.processors.mongodb.PutMongo</type>
        </processors>
        <processors>
            <id>486c7832-1051-3a89-0000-000000000000</id>
            <parentGroupId>7d4cd5bd-3e79-3b67-0000-000000000000</parentGroupId>
            <position>
                <x>0.0</x>
                <y>206.44279170036316</y>
            </position>
            <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.9.2</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>Hostname</key>
                        <value>
                            <name>Hostname</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Port</key>
                        <value>
                            <name>Port</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Username</key>
                        <value>
                            <name>Username</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Password</key>
                        <value>
                            <name>Password</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Connection Mode</key>
                        <value>
                            <name>Connection Mode</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Transfer Mode</key>
                        <value>
                            <name>Transfer Mode</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Remote Path</key>
                        <value>
                            <name>Remote Path</name>
                        </value>
                    </entry>
                    <entry>
                        <key>File Filter Regex</key>
                        <value>
                            <name>File Filter Regex</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Path Filter Regex</key>
                        <value>
                            <name>Path Filter Regex</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Polling Interval</key>
                        <value>
                            <name>Polling Interval</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Search Recursively</key>
                        <value>
                            <name>Search Recursively</name>
                        </value>
                    </entry>
                    <entry>
                        <key>follow-symlink</key>
                        <value>
                            <name>follow-symlink</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Ignore Dotted Files</key>
                        <value>
                            <name>Ignore Dotted Files</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Delete Original</key>
                        <value>
                            <name>Delete Original</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Connection Timeout</key>
                        <value>
                            <name>Connection Timeout</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Data Timeout</key>
                        <value>
                            <name>Data Timeout</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Max Selects</key>
                        <value>
                            <name>Max Selects</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Remote Poll Batch Size</key>
                        <value>
                            <name>Remote Poll Batch Size</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Use Natural Ordering</key>
                        <value>
                            <name>Use Natural Ordering</name>
                        </value>
                    </entry>
                    <entry>
                        <key>proxy-configuration-service</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.proxy.ProxyConfigurationService</identifiesControllerService>
                            <name>proxy-configuration-service</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Proxy Type</key>
                        <value>
                            <name>Proxy Type</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Proxy Host</key>
                        <value>
                            <name>Proxy Host</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Proxy Port</key>
                        <value>
                            <name>Proxy Port</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Http Proxy Username</key>
                        <value>
                            <name>Http Proxy Username</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Http Proxy Password</key>
                        <value>
                            <name>Http Proxy Password</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Internal Buffer Size</key>
                        <value>
                            <name>Internal Buffer Size</name>
                        </value>
                    </entry>
                    <entry>
                        <key>ftp-use-utf8</key>
                        <value>
                            <name>ftp-use-utf8</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>Hostname</key>
                        <value>ftp</value>
                    </entry>
                    <entry>
                        <key>Port</key>
                        <value>21</value>
                    </entry>
                    <entry>
                        <key>Username</key>
                        <value>user</value>
                    </entry>
                    <entry>
                        <key>Password</key>
                    </entry>
                    <entry>
                        <key>Connection Mode</key>
                        <value>Active</value>
                    </entry>
                    <entry>
                        <key>Transfer Mode</key>
                        <value>Binary</value>
                    </entry>
                    <entry>
                        <key>Remote Path</key>
                    </entry>
                    <entry>
                        <key>File Filter Regex</key>
                        <value>^.*\.csv$</value>
                    </entry>
                    <entry>
                        <key>Path Filter Regex</key>
                    </entry>
                    <entry>
                        <key>Polling Interval</key>
                        <value>15 sec</value>
                    </entry>
                    <entry>
                        <key>Search Recursively</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>follow-symlink</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>Ignore Dotted Files</key>
                        <value>true</value>
                    </entry>
                    <entry>
                        <key>Delete Original</key>
                        <value>true</value>
                    </entry>
                    <entry>
                        <key>Connection Timeout</key>
                        <value>60 sec</value>
                    </entry>
                    <entry>
                        <key>Data Timeout</key>
                        <value>60 sec</value>
                    </entry>
                    <entry>
                        <key>Max Selects</key>
                        <value>2</value>
                    </entry>
                    <entry>
                        <key>Remote Poll Batch Size</key>
                        <value>5000</value>
                    </entry>
                    <entry>
                        <key>Use Natural Ordering</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>proxy-configuration-service</key>
                    </entry>
                    <entry>
                        <key>Proxy Type</key>
                        <value>DIRECT</value>
                    </entry>
                    <entry>
                        <key>Proxy Host</key>
                    </entry>
                    <entry>
                        <key>Proxy Port</key>
                    </entry>
                    <entry>
                        <key>Http Proxy Username</key>
                    </entry>
                    <entry>
                        <key>Http Proxy Password</key>
                    </entry>
                    <entry>
                        <key>Internal Buffer Size</key>
                        <value>16KB</value>
                    </entry>
                    <entry>
                        <key>ftp-use-utf8</key>
                        <value>false</value>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>GetFTP_Data</name>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>org.apache.nifi.processors.standard.GetFTP</type>
        </processors>
        <processors>
            <id>49152a75-dd66-33aa-0000-000000000000</id>
            <parentGroupId>7d4cd5bd-3e79-3b67-0000-000000000000</parentGroupId>
            <position>
                <x>645.2914733886719</x>
                <y>391.665061712265</y>
            </position>
            <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.9.2</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>Record Reader</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.serialization.RecordReaderFactory</identifiesControllerService>
                            <name>Record Reader</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Record Writer</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.serialization.RecordSetWriterFactory</identifiesControllerService>
                            <name>Record Writer</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Records Per Split</key>
                        <value>
                            <name>Records Per Split</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>Record Reader</key>
                        <value>fbe3bc40-1630-3503-0000-000000000000</value>
                    </entry>
                    <entry>
                        <key>Record Writer</key>
                        <value>a7b538da-0344-36b9-0000-000000000000</value>
                    </entry>
                    <entry>
                        <key>Records Per Split</key>
                        <value>1</value>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>SplitRecord</name>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>failure</name>
            </relationships>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>original</name>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>splits</name>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>org.apache.nifi.processors.standard.SplitRecord</type>
        </processors>
        <processors>
            <id>5204bb93-0e54-355f-0000-000000000000</id>
            <parentGroupId>7d4cd5bd-3e79-3b67-0000-000000000000</parentGroupId>
            <position>
                <x>292.29455722260536</x>
                <y>0.0</y>
            </position>
            <bundle>
                <artifact>nifi-update-attribute-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.9.2</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>Delete Attributes Expression</key>
                        <value>
                            <name>Delete Attributes Expression</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Store State</key>
                        <value>
                            <name>Store State</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Stateful Variables Initial Value</key>
                        <value>
                            <name>Stateful Variables Initial Value</name>
                        </value>
                    </entry>
                    <entry>
                        <key>canonical-value-lookup-cache-size</key>
                        <value>
                            <name>canonical-value-lookup-cache-size</name>
                        </value>
                    </entry>
                    <entry>
                        <key>valmodi</key>
                        <value>
                            <name>valmodi</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>Delete Attributes Expression</key>
                    </entry>
                    <entry>
                        <key>Store State</key>
                        <value>Do not store state</value>
                    </entry>
                    <entry>
                        <key>Stateful Variables Initial Value</key>
                    </entry>
                    <entry>
                        <key>canonical-value-lookup-cache-size</key>
                        <value>100</value>
                    </entry>
                    <entry>
                        <key>valmodi</key>
                        <value>VALUE</value>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>UpdateAttribute</name>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>org.apache.nifi.processors.attributes.UpdateAttribute</type>
        </processors>
    </snippet>
    <timestamp>11/22/2020 01:12:39 UTC</timestamp>
</template>
